x-scylla-common: &scylla-common
  image: scylladb/scylla:5.4
  restart: unless-stopped
  networks:
    - scylla_cluster

services:
  scylla-node1:
    <<: *scylla-common
    container_name: scylla-node1
    hostname: scylla-node1
    ports:
      - "9042:9042"   # CQL
      - "7000:7000"   # intra-node communication
      - "7001:7001"   # TLS intra-node
      - "7199:7199"   # JMX
      - "10000:10000" # Alternator (DynamoDB API)
    volumes:
      - scylla_node1_data:/var/lib/scylla
    command: ["--smp", "2", "--memory", "2G"]

  scylla-node2:
    <<: *scylla-common
    container_name: scylla-node2
    hostname: scylla-node2
    ports:
      - "9043:9042"   # CQL
    volumes:
      - scylla_node2_data:/var/lib/scylla
    command: ["--smp", "2", "--memory", "2G", "--seeds", "scylla-node1"]
    depends_on:
      - scylla-node1

  scylla-node3:
    <<: *scylla-common
    container_name: scylla-node3
    hostname: scylla-node3
    ports:
      - "9044:9042"   # CQL
    volumes:
      - scylla_node3_data:/var/lib/scylla
    command: ["--smp", "2", "--memory", "2G", "--seeds", "scylla-node1"]
    depends_on:
      - scylla-node1
      - scylla-node2

networks:
  scylla_cluster:
    driver: bridge
    name: scylla_cluster_network

volumes:
  scylla_node1_data:
    driver: local
    name: scylla_node1_data
  scylla_node2_data:
    driver: local
    name: scylla_node2_data
  scylla_node3_data:
    driver: local
    name: scylla_node3_data
